infrastructure/juju-implementation/backup/*
!infrastructure/juju-implementation/backup/README.md
infrastructure/providers/*
!infrastructure/providers/examples/*
infrastructure/metadata/*


modules/argo-submit-server/go-client/backup-configs/*
!modules/argo-submit-server/go-client/backup-configs/README.md

modules/argo-submit-server/go-client/.idea
modules/argo-submit-server/go-client/.idea/*

modules/argo-submit-server/go-client/config

modules/PythonScaler/__pycache__/
modules/PythonScaler/.idea/
modules/PythonScaler/configs/*
!modules/PythonScaler/configs/README.md
modules/PythonScaler/cookies/

helm-charts/*/charts/*.tgz
*requirements.lock


extra/cert/*
!extra/cert/README.md
!extra/cert/create_cert.sh

extra/*.pem
